*{
  margin: 0;
}
.container{
  max-width: 960px;
  margin-right: auto;
  margin-left:auto;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 100vh;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

.note.new{
  background-color: #67d7cc;
}
textarea{
  border:none;
  resize: none;
  background: transparent;
}
textarea:focus{
  outline: none;
}

.save{
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding:5px 10px 5px 10px;
}

.save:hover{
  background-color: #ededed;
  cursor:pointer;
}
.note{
  background-color:#fef68a;
  border-radius:10px;
  padding:1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-button:hover{
  cursor: pointer;
}
.searchInput{
  background-color: #e1e1e1;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border:none;
  height: 2rem;
}
.searchInput:focus{
  outline: none;
}

.headers-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.dark-mode{
  background-color: black;

  
}

.dark-mode h1{
  color:white;
}